# Copyright 1998-2019 Lawrence Livermore National Security, LLC and other
# HYPRE Project Developers. See the top-level COPYRIGHT file for details.
#
# SPDX-License-Identifier: (Apache-2.0 OR MIT)

###############################################################################
##  All configurable variables are defined in the file named Makefile.config.in
##  When Autoconf is run, it will create a file named Makefile.config which
##  will have all of the configurable variables replaced with their values.
###############################################################################



srcdir = .
top_srcdir = ..
prefix = /opt/parflow_build/hypre
exec_prefix = ${prefix}



HYPRE_RELEASE_NAME    = hypre
HYPRE_RELEASE_VERSION = 2.19.0
HYPRE_RELEASE_DATE    = 2020/05/26
HYPRE_RELEASE_TIME    = 00:00:00
HYPRE_RELEASE_BUGS    = hypre-support@llnl.gov

HYPRE_SRC_TOP_DIR = /opt/parflow_build/parflow/dependencies/hypre-src/hypre/src
HYPRE_BUILD_DIR   = /opt/parflow_build/parflow/dependencies/hypre-src/hypre/src/hypre

HYPRE_INSTALL_DIR = /opt/parflow_build/hypre
HYPRE_LIB_INSTALL = ${exec_prefix}/lib
HYPRE_INC_INSTALL = ${prefix}/include

HYPRE_LIB_SUFFIX = .a

.SUFFIXES:
.SUFFIXES: .o .f .c .C .cxx .cc .cu

.f.o:
	$(FC) $(FFLAGS) -c $< 
.c.o:
	$(CC) $(CFLAGS) -c $< 
.C.o:
	$(CXX) $(CXXFLAGS) -c $<
.cxx.o:
	$(CXX) $(CXXFLAGS) -c $<
.cc.o:
	$(CXX) $(CXXFLAGS) -c $<
#.cu.o:
#	$(CUCC) $(CUFLAGS) -c $<

FC       = 
FFLAGS   = -O  $(FC_COMPILE_FLAGS)

CC       = 
CFLAGS   = -O  -DHAVE_CONFIG_H $(C_COMPILE_FLAGS)

CXX      = 
CXXFLAGS = -O  -DHAVE_CONFIG_H $(CXX_COMPILE_FLAGS)

#CUCC     = 
#CUFLAGS  =  -DHAVE_CONFIG_H ${CU_COMPILE_FLAGS}

LINK_FC  = 
LINK_CC  = 
LINK_CXX = 

BUILD_FC_SHARED     = 
BUILD_CC_SHARED     = 
BUILD_CXX_SHARED    = 
SHARED_COMPILE_FLAG = 
SHARED_BUILD_FLAG   = 
SHARED_SET_SONAME   = 
SHARED_OPTIONS      = 

BUILD_PYTHON = 0
PYTHON       = 

BUILD_JAVA = 0

AR     = ar -rcu
RANLIB = ranlib

LDFLAGS = 
LIBS    =     
FLIBS   = 

INCLUDES =     

##################################################################
##  LAPACK Library Flags 
##################################################################
LAPACKLIBS      = 
LAPACKLIBDIRS   = 

##################################################################
##  BLAS Library Flags 
##################################################################
BLASLIBS        = 
BLASLIBDIRS     = 

##################################################################
##  MPI options
##################################################################
MPIINCLUDE = 
MPILIBDIRS = 
MPILIBS    = 
MPIFLAGS   = 

##################################################################
##  Node Aware MPI options
##################################################################
HYPRE_NAP_INCLUDE = 

##################################################################
##  CUDA options
##################################################################
HYPRE_CUDA_INCL = 
HYPRE_CUDA_LIBS = 

##################################################################
##  Caliper options
##################################################################
CALIPER_INCLUDE = 
CALIPER_LIBS    = 

##################################################################
##  Euclid, ParaSails, pilut options
##################################################################
HYPRE_DISTRIBUTED_LS_DIR = /opt/parflow_build/parflow/dependencies/hypre-src/hypre/src/distributed_ls
HYPRE_EUCLID_FILES       = /opt/parflow_build/parflow/dependencies/hypre-src/hypre/src/distributed_ls/Euclid/*.o
HYPRE_PARASAILS_FILES    = /opt/parflow_build/parflow/dependencies/hypre-src/hypre/src/distributed_ls/ParaSails/*.o
HYPRE_PILUT_FILES        = /opt/parflow_build/parflow/dependencies/hypre-src/hypre/src/distributed_ls/pilut/*.o

##################################################################
##  SuperLU options
##################################################################
SUPERLU_INCLUDE = 
SUPERLU_LIBS    = 

##################################################################
##  DsuperLU options
##################################################################
DSUPERLU_INCLUDE = 
DSUPERLU_LIBS    = 

##################################################################
##  FEI options
##################################################################
HYPRE_FEI_SRC_DIR       = 
HYPRE_FEI_BASE_DIR      = 
HYPRE_FEI_SUBDIRS       = 
HYPRE_FEI_HYPRE_FILES   = 
HYPRE_FEI_FEMLI_FILES   = 

##################################################################
##  RAJA options
##################################################################
HYPRE_RAJA_LIB_DIR      = 
HYPRE_RAJA_INCLUDE      = 
HYPRE_RAJA_LIB          = 

##################################################################
##  kokkos options
##################################################################
HYPRE_KOKKOS_SRC_DIR    = @HYPRE_KOKKOS_SRC_DIR@
HYPRE_KOKKOS_LIB_DIR    = 
HYPRE_KOKKOS_INCLUDE    = 
HYPRE_KOKKOS_LIB        = 

